/* You can add global styles to this file, and also import other style files */
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

body {
    font-family: 'Quicksand', sans-serif;
}
.input-group-text {
    font-size: 14px;
}
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #1f4568;
  }
  
  body{
  background-image: url("https://image.ibb.co/de6JzG/bitmap_1_1.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
  }
  